.headers{
background-color: rgb(255, 255, 255);
width: 100%;
height: 15vh;
box-shadow: 0 0 5px black;
display: flex;
justify-content: space-evenly;
align-items: center;
}
.headers img{
    width: 9.5vh;
    height: 9.5vh;
}
.items{
    cursor: pointer;
    text-decoration: none;
}
.items h5{
    text-align: center;
    font-size: 2vh;
    font-weight: 700;
    text-transform: capitalize;
    color: rgb(82, 82, 82);
}
.items:hover>h5{
    color: rgb(36, 36, 224);
    transition: 0.4s ease-in;
}
.items:hover>img{
    transition: 0.3s ease-in-out;
    transform: scale(105%);
}