*{
  margin:0;
  padding: 0;

}
::placeholder{
  color: white;
}
body{
  background-color: red;
  
}
.navbar{
  background:linear-gradient(90deg,black 5%,blue , black );
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.logo{
  background-color: white;
  border-radius: 0 50px 50px 0;
  width: 36vh;
  height: 8vh;
  display: flex;
  justify-content:flex-start;
  align-items: center;

}

.logo2{
  background-color: white;
  border-radius: 50px 0px 0px 50px;
  width: 36vh;
  height: 8vh;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}
.logo img{
  width: 6vh;
  height: 6vh;
  padding-left:1vh;
}
.logo2 img{
  width: 5vh;
  height: 5vh;
  margin-left: 4vh;
  border:2px solid rgba(145, 0, 0, 0.699);
  border-radius: 50%;
  
}
.logo span{
  color: #0505A4;
  font-weight: 900;
  padding-left: 2vh;
  font-size: 2.5vh;

}
.logo2 span{
  color: #b3190e;
  font-weight: 600;
  padding-left: 2vh;
  font-size: 2.3vh;

}

.navbar input{
  background:transparent;
 border: none;
 border-radius: 0 0 20px 20px;
 outline: none;
 color: white;
 width: 50vh;
 font-size: xx-small;
 height: 0.8cm;
text-align: center;
 border-bottom: 2px solid #ffffff;
}

#imgcl{
  height:60vh;
  width: 100vw;

}
.mainmobilebox{
width: 100%;
height:40vh; 
background-color:rgb(0, 0, 0); 
display: flex;
flex-direction: row;
justify-content:space-between;
align-items: center;


}
.boxleft{
width: 18%;
height:40vh;
 background:linear-gradient(180deg, white 70%, rgba(12, 88, 189, 0.493));
display: flex;
flex-direction: column;
justify-content:center;
align-items: center;

 }
.boxright{
width: 82%;
height:40vh;
 background-color:rgb(255, 255, 255); 
display: flex;
flex-direction: row;
justify-content:center;
align-items: center;


 }
.boxleft h4{
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#btnformore{
  font-size: x-small;
  border-radius: 1px;
  margin-top: 2vh;
}

.partition{
  width: 100%;
  height:2vh;
  background:linear-gradient(90deg,red,blue); 
}
.items2{
  /* background-color: rgb(87, 78, 78); */
  width: 70vw;
  height: 36vh;
  margin-right: 2vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.items2 img{
  width:20vh;
  height: 20vh;
  margin-bottom: 2vh;
}
.items2 p{
  color: rgb(0, 190, 0);
}